h1,
h2,
h3,
h4,
h5,
h6 {
  --core-fontWeight: 700;
  margin-top: 0;
  margin-bottom: var(--core-space-vertical);
  color: var(--core-textColor);
  font-weight: var(--core-fontWeight);
  font-size: var(--core-fontSize);
  font-family: var(--fontFamily-default);
}

h1 {
  --core-textColor: var(--h1-color);
  --core-fontSize: 2rem;
  --core-space-vertical: 3rem;
}

h2 {
  --core-textColor: var(--h2-color);
  --core-fontSize: 1.75rem;
  --core-space-vertical: 2.625rem;
}

h3 {
  --core-textColor: var(--h3-color);
  --core-fontSize: 1.5rem;
  --core-space-vertical: 2.25rem;
}

h4 {
  --core-textColor: var(--h4-color);
  --core-fontSize: 1.25rem;
  --core-space-vertical: 1.874rem;
}

h5 {
  --core-textColor: var(--h5-color);
  --core-fontSize: 1.125rem;
  --core-space-vertical: 1.6875rem;
}

h6 {
  --core-textColor: var(--h6-color);
}