/*
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/samp
*/

samp {
    font-family: var(--fontFamily-code);
    background-color: var(--core-color-neutral-hover);
    padding: 0.15em;
    letter-spacing: 1px;
}