/*
https://developer.mozilla.org/en-US/docs/Web/API/WebVTT_API

*/
video {
    width: 100%;
    height: auto;
    border-radius: var(--core-borderRadius);
    aspect-ratio: auto;
}

video::cue {}

video::cue(b) {}