aside nav,
aside ol,
aside ul,
aside li {
  display: block;
}

aside li {
  padding: calc(var(--core-space) * 0.5) var(--core-space-half);
}

aside li a {
  display: block;
}

aside li [role=button] {
  margin: inherit;
}

