blockquote {
    display: block;
    margin: var(--core-space-vertical) 0;
    padding: var(--core-space);
    border-right: none;
    border-left: 0.25rem solid var(--blockquote-borderColor);
    -webkit-border-start: 0.25rem solid var(--blockquote-borderColor);
    border-inline-start: 0.25rem solid var(--blockquote-borderColor);
    -webkit-border-end: none;
    border-inline-end: none;
  }
  
  blockquote footer {
    margin-top: calc(var(--core-space-vertical) * 0.5);
    color: var(--blockquote-footer-color);
  }