hgroup {
    margin-bottom: var(--core-space-vertical);
  }
  hgroup > * {
    margin-bottom: 0;
  }
  hgroup > *:last-child {
    --core-textColor: var(--core-color-muted);
    --core-fontWeight: unset;
    font-size: 1rem;
    font-family: unset;
  }