
/**
 * Table
 */
 :where(table) {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-indent: 0;
  }
  
  th,
  td {
    padding: calc(var(--core-space) / 2) var(--core-space);
    border-bottom: var(--core-borderWidth) solid var(--table-borderColor);
    color: var(--core-textColor);
    font-weight: var(--core-fontWeight);
    font-size: var(--core-fontSize);
    text-align: left;
    text-align: start;
  }
  
  tfoot th,
  tfoot td {
    border-top: var(--core-borderWidth) solid var(--table-borderColor);
    border-bottom: 0;
  }
  
  table[role=grid] tbody tr:nth-child(odd) {
    background-color: var(--table-row-stripped-backgroundColor);
  }